 /* Corpo ocupa toda a altura da tela e usa flex */
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            height: 100vh;
            display: flex;
            justify-content: center; /* centraliza horizontalmente */
            align-items: center;
            background-color: #F0F9F6
        }
        


        #login-screen {
    font-family: 'Segoe UI', sans-serif
}

        /* Container do chat */
        #chat-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 600px;
            height: 80vh;
            background-color:#FFFFFF ;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 10px #BFECE1;
            color:#2F4F4F ;
        }

        #btn-entrar {
    background-color: #9EEED6; /* Cor normal */
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

/* HOVER */
#btn-entrar:hover {
    background-color: #8EE3C7; /* Cor ao passar o mouse */
}

    input {
    background-color: #F5FFFC; /* fundo suave */
    border: 2px solid #CDEFE6; /* borda verde pastel */
    padding: 10px;
    border-radius: 8px;
    outline: none;
}

input:focus {
    border-color: #9EEED6; /* realce suave */
}

        /* Lista de mensagens ocupa todo o espaço disponível */
        #mensagens {
            flex: 1;
            overflow-y: auto;
            padding: 10px;
            background-color: #FFFFFF;
        }

        #mensagens li {
            margin-bottom: 10px;
            padding: 8px 12px;
            background-color: #CFF7E8;
            border-radius: 10px;
            list-style: none;
            max-width: 70%;
            color: #2F4F4F;
        }

        /* Formulário de envio fixo no final */
        #formulario {
            display: flex;
            padding: 10px;
            background-color: #CFF7E8;
            flex-shrink: 0;
        }

        #mensagemInput {
            flex: 1;
            padding: 10px;
            margin-right: 10px;
            border: 1px solid #BFECE1;
            border-radius: 20px;
        }

        #enviarBnt {
            padding: 10px 20px;
            border: none;
            background-color: #9EEED6;
            color: white;
            border-radius: 20px;
            cursor: pointer;
        }

        #enviarBnt:hover {
            background-color: #8EE3C7;
        }

        /* Tela de login centralizada */
        #login-screen {
            text-align: center;
        }
        .notificacao {
    text-align: center;
    background: #e3e3ff;
    color: #333;
    padding: 8px;
    margin: 10px auto;
    width: 80%;
    border-radius: 8px;
    font-size: 14px;
    font-style: italic;
    opacity: 0.9;
}
   
        

        